body{
  background-color: white;
}

.container{
  top: 50vh;
  left: 50vw;
  position: fixed;
  margin: -32px -76px;
}

.weather{
  border: 1px solid #ebebeb;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 50% 0% 50%;
  width: 150px;
  height: 60px;
  align-content: center;
  justify-content: center;
}

.icon-column{
  display: grid;
  align-content: center;
  justify-content: center;
}

.icon{
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.3));
  transform: scale(2.0);
}

.info-column{
  display: grid;
  align-items: center;
  justify-items: center;
}

.division{
  content: "";
  display: block;
  margin: auto;
  height: 40%;
  border-left: 1px solid #ebebeb;
}

.temp{
  font-weight: bolder;
  font-size: 32px;
  line-height: 1;
  color: #7b7b7b;
}

.place{
  font-size: 12px;
  color: #c8c8c8;
}